* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
    
    
}

window#waybar {
    background-color: transparent;
    border:none;
    color: #ffffff;
    
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
  
    /* Avoid rounded borders under each button name */
    border: none;
    

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */


button:hover {
    background: inherit;

}

#workspaces button {
    background-color: rgba(24, 25, 38, 0.6);
    color: #f0c6c6;
    margin-right: 4px;
    border-radius: 0;
    
}

#workspaces button:hover {
    background-color: rgba(24, 25, 38, 0.1);
}

#workspaces button.active {
    border-bottom: solid 1.5px red;
    background-color: #24273a;
    color:#f0c6c6;
    

}
#workspaces button.default {
    background-color: #5b6078;
    color: #fff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
    font-family: HackNerdFont;
    font-size: 11px;
    background-color: #24273a;
    border-color: transparent;
    padding: 0 2px 0 2px;
    border-radius: 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
    
}

.modules-right {
    background-color: #24273a;
    border-color: transparent;
    border-radius: 2px;

}
#clock {
    background-color: #24273a;
    color: #fff;
    border-bottom: solid 1.5px #00b093;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #181926;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #181926;
}

#cpu {
    background-color: #24273a;
    color: #fff;
    border-bottom: solid 1.5px #26A65B;
}

#memory {
    background-color: #24273a;
    color: #fff;
    border-bottom: solid 1.5px #eb4d4b;
}

#disk {
    background-color: #eed49f;
    color: #181926;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #24273a;
    color: #fff;
    border-bottom: solid 1.5px #ee99a0;
}

#network.disconnected {
    border-bottom: solid 1.5px rgb(238, 39, 39);
    color: black;
}

#pulseaudio {
    background-color: #24273a;
    color: #fff;
    border-bottom: solid 1.5px red;
}


#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #24273a;
    color: #fff;
    border-bottom: solid 1.5px blue;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #24273a;
    border-bottom: solid 1.5px #eb3fb7;
}


/* #custom-audio_idle_inhibitor{
    background-color: #24273a;
    color: #fff0f5;
} */

#idle_inhibitor.activated {
    background-color: #fff0f5;
    color: #24273a;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
#custom-pacman {
    background-color: #24273a;
    border-bottom: solid 1.5px #91d7e3;
    padding: 0 10px 0 10px;
    color: #fff;
}
@keyframes blink-update {
	to {
		border-bottom: solid 1.5px #ee99a0;
        background-color: #fff;
        color: #24273a;
	}
}

#custom-pacman {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#custom-pacman.pending-updates {
	animation-name: blink-update;
	animation-duration: 3s;
}
#custom-notification {
    background-color: #24273a;
    border-bottom: solid 1.5px #20c08b;
    color: #fff;
    padding: 0 10px 0 10px;

}