* {
  min-height: 0;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: bold;    
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 12px;
  margin: 4px 3px;
  border-radius: 4px;
  background-color: transparent; /* Inactive workspace (blue) */
  color: #46d9ff;
}

#workspaces button.active {
  color: #fabd2f;
  background-color: transparent; /* Active workspace (yellow) */
}

#workspaces button.empty {
  color: #fe8019;
  background-color:transparent;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#cpu,
#memory,
#idle_inhibitor,
#pulseaudio,
#temperature,
#backlight,
#clock,
#tray,
#custom-media,
#custom-updates,
#custom-notification,
#power-profiles-daemon,
#network,
#battery{
  background-color:transparent;
  border-radius: 4px;
  margin: 4px 3px;
  padding: 2px 12px;
}

#cpu {
  background-color: #98be65;
  color: #1e1e2e;
}

#memory {
  background-color: #46d9ff;
  color: #1e1e2e;
}

#idle_inhibitor {
  background-color: #cba6f7;
  color: #1e1e2e;
}

#idle_inhibitor.activated {
  background-color: #51afef;
  color: #1e1e2e;
}

#pulseaudio {
  background-color: #da8548;
  color: #1e1e2e;
}

#temperature {
  background-color: #ecbe7b;
  color: #1e1e2e;
}

#backlight {
  background-color: #ff6c6b;
  color: #1e1e2e;
}

#clock {
  background-color: #cba6f7;
  color: #1e1e2e;
}

#tray {
  background-color: #51afef;
  color: #1e1e2e;
}

#custom-media {
  background-color: #d3869b;
  color: #1e1e2e;
}

#custom-updates.green {
  background-color: #98be65;
  color: #1e1e2e;
}
#custom-updates.yellow {
  background-color: #ECBE7B;
  color: #1e1e2e;
}
#custom-updates.red {
  background-color: #da8548;
  color: #1e1e2e;
}

#sway-scratchpad {
  background-color: #8ec07c;
  color: #1e1e2e;
}

#power-profiles-daemon {
  background-color: #689d6a;
  color: #1e1e2e;
}

#network {
  background-color: #d79921;
  color: #1e1e2e;
}

#battery {
  background-color: #b8bb26;
  color: #1e1e2e;
}

#keyboard-state > label {
  background-color: #d5c4a1;
  color: #1e1e2e; 
  border-radius: 4px;
  margin: 4px 3px;
  padding: 2px 12px;
}

#keyboard-state > label.locked {
  background-color: #cc241d;
  color: #1e1e2e;
  border-radius: 4px;
  margin: 4px 3px;
  padding: 2px 12px;
}

#custom-notification {
  background-color: #46D9FF;
  color: #1e1e2e;
}

#custom-notification.none {
  background-color: #a9a1e1;
  color: #1e1e2e;
}

#custom-notification.dnd-none,
#custom-notification.dnd-inhibited-none {
  background-color: #fe8019;
  color: #1e1e2e;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
} 

